// Here you can add other styles
.main {
  .container-fluid {
    padding: 15px 15px;
  }
  ol.breadcrumb {
    margin-bottom: 15px;
  }
}
.btn-xs,
.btn-group-xs {
  padding: 0.15rem 0.5rem;
  font-size: .67rem;
}
